# Snakemake working directory
.snakemake/

# Output folders
results/
logs/

# Large bioinformatics files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
*.vcf

# Logs
*.log

# Python
__pycache__/
*.pyc

# Temporary files
tmp/
temp/

# OS junk
.DS_Store
